default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff-check
        args: ["--fix", "--ignore", "D"]
        stages: [pre-commit]
      - id: ruff-format
        stages: [pre-commit]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        stages: [pre-commit]
        args: ["--config=backend/pyproject.toml"]
        exclude: backend/migrations/
        additional_dependencies:
        - sqlmodel
        - sqlalchemy>=2
        - pydantic>=2
        - typing-extensions
        - fastapi
        - python-dotenv
        - alembic       
 
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
